/.DS_Store/**
/.history/**
/defs/__pycache__/**
/__pycache__/**
ephem.db
/env_multiprocessing/**
test.db
test_check.db
test_check_2.db
/backup/**
test.txt
check_test_copy.py
check_test_create.py
check_test_insert.py
check_test_main.py
/env_mp_sql/**